body{
    background-image:url("https://media1.giphy.com/media/MqQUmdElMRaaf2suJ1/giphy.gif");
}

.paragraph-section{
    background-color:#e78813;
    font-size: larger;
    border-style: solid;
    font-family: Trattatello, fantasy;
}

.list-section{background-color:darkblue;
    color: white;
        font-family:Bradley Hand, cursive;
}
   



