body{
    
    background-color:beige;

.paragraph-section{
    background-color:#e78813;
    font-size: larger;
    border-style: solid;
    font-family: Trattatello, fantasy;
}

.list-section{background-color:rgb(119, 119, 201, 0.6);
    color:black;
        font-family:Courier, monospace;
}
   



